.blog h2 {
  font-size: 30pt;
  font-weight: bold;
}

.blog h3 {
  font-size: 23pt;
  font-weight: bold;
  margin: 10px 0;
}

.blog p {
  line-height: 35px;
}

.blog ul,
.blog ol {
  margin-left: 50px;
  list-style: initial;
  list-style-type: initial;
  line-height: 35px;
}

.blog ol {
  list-style-type: decimal;
}

@media screen and (max-width: 850px) {
  .blog h2 {
    font-size: 24pt;
  }
  .blog h3 {
    font-size: 19pt;
  }
  .blog ul,
  .blog ol {
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .blog h2 {
    font-size: 17pt;
  }
  .blog h3 {
    font-size: 14pt;
  }
  .blog ul,
  .blog ol {
    margin-left: 20px;
  }
}
